* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #1f1f1f;
	max-height: 100vh;
	font-family: roboto;
}


#display {
	margin-top: 10vh;
	max-height: 10vh;
	color: white;
	font-size: 30px;
	text-align: center;
}

#result {
	margin-top: 1vh;
	font-size: 1.5em;
	text-align: center;
	color: white;
}

#menu {
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: space-evenly;
	gap: 5%;
}

button {
	flex: 1;
	height: 20vh;
	font-size: 2em;
}

.green {
	color: green;
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}